@font-face {
    font-family: 'Gotham Pro';
    src: url('GothamPro-Medium.woff2') format('woff2'),
        url('GothamPro-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham Pro';
    src: url('GothamPro.woff2') format('woff2'),
        url('GothamPro.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

html {
    background-color: #353638;
}

